/* Preloader Styles */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:99;
}

#status {
    border: 3px solid #333;
    border-radius: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    top: 50%;
    width: 40px;
    z-index: 1007;
    -webkit-animation: pulsate 1s ease-out infinite;
    -moz-animation: pulsate 1s ease-out infinite;
    -ms-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
    position:absolute;
    left:50%; 
    top:50%;
    margin:-20px 0 0 -20px; 
}

/* Fonts and Google */

@font-face {
    font-family: GreatVibes-Regular;
    src: url(../fonts/GreatVibes-Regular.otf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf)
}


/* Basic Styles */

body {
    font-family: 'Roboto', 'Lato', Arial,sans-serif;
}

button {
    font-family: 'Lato',sans-serif;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #757575;
}

h2 {
    font-family: GreatVibes-Regular;
    font-size: 50px;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* Icons */
@font-face {
  font-family: "prasto-font-icons";
  src:url("../fonts/prasto-font-icons.eot");
  src:url("../fonts/prasto-font-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/prasto-font-icons.woff") format("woff"),
    url("../fonts/fontello.svg") format("svg"),
    url("../fonts/prasto-font-icons.ttf") format("truetype"),
    url("../fonts/prasto-font-icons.svg#prasto-font-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "prasto-font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e000";
}
.icon-envelope:before {
  content: "\e005";
}
.icon-phone:before {
  content: "\e006";
}
.icon-restaurant:before {
  content: "\e009";
}
/* Social Icons */
.social-icons {
    top: 42%;
    left: -2.2%;
    z-index: 999;    
    background: rgb(224, 224, 224);
    position: fixed;    
    padding: 5px;
    transition: all 0.8s;
    border-radius: 4px;
    opacity: 0.7;
}
.social-icons:hover {
    left:0%;   
    opacity: 1;
    transition: all 0.8s;
}
.facebook a img {
    width: 50px;
}
.phone a img {
    margin: 12px;
    width: 30px;
}
.delivery a img {
    margin: 9px;
    width: 35px;
}
.facebook {
    color:#4267b2;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.phone {
    color:#fff;
    background-color: rgb(9, 255, 83);
    width: 50px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 50px;
}
.delivery {
    color:#4267b2;
    background-color: rgb(255, 32, 32);
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.facebook .tooltiptext {
    font-family: 'Lato';
    padding: 4px;
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 2px;
    top: 53%;
    border: 1px solid rgb(233, 233, 233);
    left: 5%;
    position: fixed;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 15px;
}

.facebook:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.phone .tooltiptext {
    font-family: 'Lato';
    padding: 4px;
    visibility: hidden;
    width: 120px;
    background-color: rgb(9, 255, 83);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    top: 45%;
    margin-left: 15px;
    left: 5%;
    position: fixed;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.phone:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.delivery .tooltiptext {
    font-family: 'Lato';
    padding: 4px;
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 32, 32);
    margin-left: 15px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    top: 61%;
    left: 5%;
    position: fixed;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.delivery:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* Navbar */
.navbar {
    transition: all 0.8s;    
   }

   .navbar-brand span{
    color: white;
    font-size: 15px;
    text-shadow: 0px 0px #000;
    font-weight: bold;
    padding-left:0 !important;
    margin-left: 0!important;
    }
.page-scroll {
font-size: 16px !important;
text-transform: uppercase;
    transition: all 0.5s;    
    font-weight: 900;
    color: #000 !important;
}

.page-scroll:hover {
    color: rgb(243, 56, 56) !important;
}

.navbar-color {
background: #fff;
border: 1px solid #C7C7C7;
transition: all 0.8s;
}
.navbar-color .page-scroll {
color: #000 !important;
font-size: 15px !important;
    transition: all 0.3s;    
    text-shadow:none;
}
.navbar-color .page-scroll:hover {
    color: rgb(252, 58, 58) !important;
    text-shadow:none;
}
.navbar-color .navbar-brand span{
    transition: all 0.3s;    
    font-size: 16px;
    text-align:center;
}
.active {
    color: rgb(243, 56, 56) !important;
    font-weight: 900;
}
.navbar-color .active {
    font-weight: 900;
    color: rgb(243, 56, 56) !important;

}
       
/* Banner Section */
#home {
    color: #fff;
    text-align: center;
}

#home h2 {
    font-size: 70px;
    margin-bottom: 0;
    padding-bottom: 0;
}


.slides {
    margin-top: 0px;
}

.slides-pagination {
    display: none;
}

.caption {
    position: absolute;
    left: 0;
    top: 70%;
    margin-top: -170px;
    width: 100%;
    padding: 0 25px;
    text-shadow: 1px 2px #000;
    background-color: rgba(0, 0, 0, 0.4);
}

.caption h2 {
    font-size: 60px;
        background: linear-gradient(90deg, rgba(0, 219, 0, 0.7) 33.33%, rgba(255, 255, 255, 0.7) 33.33%, rgba(255, 255, 255, 0.7) 66.66%, rgba(255, 0, 0, 0.7) 66.66%);
opacity: 1;
}

#home p:nth-child(2) {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;

}

#home p:nth-child(3) {
font-size: 20px;
}


@media all and (min-width: 581px) and (max-width: 1000px) {
    .page-scroll {
        font-size: 13px !important;;
    }
}

/* About Section */
#about {
    background: #fff;
    position: relative;
}


#about h3 {
    font-family: 'Lato','Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

#about p {
    padding-top: 25px;
}

.history {
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: 600px;
}

.photo-container{
        position: absolute;
    height: 100%;
    top: 0px;
    left:0;
}

.background-image-holder{
   background: url(../images/pizza-start.png) 100% 0% no-repeat;
    width: 525px;
    height: 100%;
    z-index: 0;
    background-size: cover !important;
    top: -20%;
}

/* Our Menu Section */
#our-menu h2 {
    text-align: center;
    display: block;
}

#our-menu {
    background: #161615 url(../images/barbeque-bg.jpg) no-repeat;
    padding: 50px 0;
    color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
}

#our-menu h3 {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.menu-tabs {
    border-bottom: 2px solid #DDD;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: none;
    text-align: center;
}

.menu-tabs > li > a {
    border: none;
    color: #666;
    transition: all 0.5s;        
}

.menu-tabs > li.active > a,
.menu-tabs > li > a:hover {
    border: none;
    color: #fff !important;
    background: transparent;
}

.menu-tabs > li > a::after {
    content: "";
    background: #fff;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.menu-tabs > li.active > a::after,
.menu-tabs > li:hover > a::after {
    transform: scale(1);
}

.menu-tabs li,
.menu-tabs li a {
    display: inline-block;
    transition: all 0.5s;        
}

.menu-tabs li {
    float: none;
}

.menu-tabs>li.active>a,
.menu-tabs>li.active>a:hover,
.menu-tabs>li.active>a:focus {
    background: none;
    color: #fff;
}

.menu-tabs li a {
    color: #D2D2D2;
    border-radius: 0;
    display: inline-block;
    margin: 0 6px;
}

.menu-group-item {
    margin-bottom: 20px;
    transition: all 0.5s;        
}

.menu-item-price {
    font-size: 20px;
    font-weight: 600;
}

.menu-title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin: 5px 0;
}

.menu-descp {
    color: #868686;
}

.menudownload {
    text-decoration: none;
    color: gray;
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;   
padding: 0px !important;
margin: 0px !important ;
}
.hidden-xs img {
    width: 100px;
    height: 100px;
}

.menudownload:hover {
    text-decoration: none;
    color: white;
}

/* Gallery Section */

#gallery {
    padding-top: 50px;
}

#gallery h2 {
    text-align: center;
    margin-bottom: 50px;
}

.sl-wrapper .sl-counter, .sl-wrapper .sl-close, .sl-wrapper .sl-navigation button{
    color:#fff;
}

.sl-overlay{
    background:#000;
}

.sl-spinner{
    border-color:#e8e8e8;
    }

figure.item{
    background:#000;

}
figure.item img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

figure.item:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Promos Section */
#promos {
    padding: 20px 0;
    background: #fff;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#promos h2 {
    text-align: center;
    margin: 50px;
    color: #000;
}

.post {
    height: 350px;
    border: 1px solid #dadada;
    background:#f3f3f3;
    margin-bottom: 25px;
    transition: all 0.6s;    
    text-align:center;
}
.post:hover {
    border: 1px dotted #5f5f5f;
}
.post h4 {
    padding: 10px;
    font-size: 24px;
}

.post a {
    color: #fff;
}
.post a:hover {
    text-decoration: none;
}
.post p {
    line-height: 23px;
    font-size: 14px;
    padding: 10px;
}

.post .content {
    margin-top: 20px;
}

.post .content h4 a{
    color: #000;
}


/* Contact section*/

#contact {
    position: relative;
}

.contact-details {
    width: 420px;
    position: absolute;
    top: 0;
    background: #fff;
    border: #C7C7C7 2px solid;
    padding: 25px;
    margin-top: 80px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.contact-details h2 {
    margin: 0;
}

.contact-details p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #333;
}

.contact-phone, .contact-email{
    margin-bottom: 10px;
}

.contact-details .icon{
    margin-right: 5px;
    margin-top: 3px;

    font-size: 14px;
    display: inline-block;
    color: #777;
    float: left;
}

/* Footer section */

footer {
    background: #0C0C0C;
    color: #fff;
    padding: 20px;
}

footer p {
    display: inline-block;    
    font-size: 12px;
    padding: 0px;
    color: rgb(211, 211, 211);
    margin: 0px;
}
footer p:last-child{
    font-size: 12px;
    display: inline-block;    
    float: right;
}

/* RESPONSIVE */


@media only screen and (max-width: 768px)  {
   .contact-details{
    position:static;
    margin:0 0 30px 0;
    width:100%;
    }
    .post {
        height: 500px;
    }
    .navbar {
        background: #fff;
        border: 1px solid #C7C7C7;
        }
        .navbar .page-scroll {
        color: #000 !important;
        font-size: 15px !important;  
        text-shadow:none;
        }
        .navbar .page-scroll:hover {
        color: rgb(252, 58, 58) !important;
        text-shadow:none;
        }

}

@media only screen and (max-width: 990px) and (min-width: 769px) {
   .history{
   min-height: 100%;
    }
    .navbar-color .page-scroll {
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 640px)  {
    #home h2{
        font-size: 46px;
        }
        .post {
            height: 450px;
        }



    }    @media only screen and (max-width: 590px)  {
        .close-btn{
        display:block !important;
         }
         .post {
             height: 420px;
         }
     }
    @media only screen and (max-width: 460px)  {
        .close-btn{
        display:block !important;
         }
         .post {
             height: 350px;
         }
     }
@media only screen and (max-width: 349px)  {
   .close-btn{
   display:block !important;
    }
    .post {
        height: 300px;
    }
}

/* Helper Classes */
.p-l-n {
    padding-left: 0 !important;
}

.f-n{
    float: none;
}


/* Google Map*/

#map {
    width: 100%;
    height: 550px;
}

.firstHeading {
    font-size: 14px;
    margin-top: -1px;
}

#bodyContent p{
color: #333;
    font-family: Roboto,Arial;
    font-size: 13px;
    margin-top: -18px;
}

#bodyContent p:first-child {
    margin-top: 0px;
}
/* GALLERY */
    .flex-images { 
        overflow: hidden;
     }
    .flex-images .item {
         float: left; margin: 1px; box-sizing: content-box; overflow: hidden; position: relative; 
         }
    .flex-images .item img { 
        display: block; width: auto; height: 100%;
     }
#reservationModal .phone-number {
    color: rgb(9, 255, 83);
}
#deliveryModal .phone-number {
    color: rgb(255, 32, 32);
}
#reservationModal .modal-header {
    background-color: rgb(9, 255, 83);
}
#deliveryModal .modal-header {
    background-color: rgb(255, 32, 32);
}
.modal {
    border-radius: 25px !important;
}
.form-control {
    padding: 5px;
    margin: 15px;
    width: 90%;
}
#reservationModal .btn-primary {
    background-color: rgb(9, 255, 83) !important;
}
#deliveryModal .btn-primary {
    background-color: rgb(255, 32, 32);
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}